<head th:fragment="head(value)">
	<meta charset="UTF-8" />
	<title th:text="|Mudi - ${value}|">Mudi</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<style>
		.header {
			background-color: #47bcff;
			color: #FFF;
			font-size: 1.5rem;
		}

		.logo {
			color: #FFF;
			text-decoration: none;
			font-family: 'Handlee', cursive;
			font-size: 2.5rem;
		}
	</style>
</head>


<div th:fragment="header">
	<header class="header d-flex justify-content-between align-items-center p-3">
		<a href="/home" class="logo">Mudi</a>
		<a class="text-light" href="/login" sec:authorize="!isAuthenticated()">Login</a>
		<a onClick="document.querySelector('#form-logout').submit()" class="text-light" href="#"
			sec:authorize="isAuthenticated()">Logout</a>
		<form id="form-logout" style="display:none" th:action="@{/login}" sec:authorize="isAuthenticated()"
			method="post"></form>
	</header>
	<nav class="nav bg-light mb-3">
		<a th:href="@{/home}" class="nav-link">Last Orders</a>
		<a th:href="@{/user/orders}" class="nav-link" sec:authorize="isAuthenticated()">My Orders</a>
		<a th:href="@{/offers}" class="nav-link" sec:authorize="isAuthenticated()">Make your Offer</a>
	</nav>
</div>

<div th:fragment="title(value)" class="jumbotron mb-0">
	<h1 class="display-4" th:text="${value}"></h1>
</div>

<nav th:fragment="ordersFilters" class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between px-4">
	<div class="navbar-nav">
		<a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" href="/user/orders">Orders</a>
		<a class="nav-item nav-link" th:classappend="${status} == 'waiting' ? 'active'"
			href="/user/waiting">Waiting</a>
		<a class="nav-item nav-link" th:classappend="${status} == 'approved' ? 'active'"
			href="/user/approved">Approved</a>
		<a class="nav-item nav-link" th:classappend="${status} == 'delivered' ? 'active'"
			href="/user/delivered">Delivered</a>
	</div>
	<a href="/order/form">
		<button class="btn btn-outline-secondary my-2 my-sm-0"> New </button>
	</a>
</nav>
